extends layout

block content
  div modified at 2022-12-01
  div second edit
  h1= title
  .alert.alert-primary Welcome Express + PUG + Bootstrap + Jquery Boilerplate for Vercel #{title}
  .alert.alert-success Welcome Express + PUG + Bootstrap + Jquery Boilerplate for Vercel #{title}
  
